/** { margin:0; padding:0; } *//* to remove the top and left whitespace */
/*html, body { width:100%; height:100%; position: relative; min-height: 100%; }*/ /* just to be sure these are full screen*/
/*canvas  { display:block; } */ /* To remove the scrollbars */

html, body {
    background:green;
}

#container {
    position: relative;
}
#container canvas {
    position: absolute;
}

div#overlay {
    position: absolute;
    top:10px;
    right:15px;
    background-color: rgba(255, 255, 255, 0.3);;
    padding:5px 20px;
    border:1px solid gray;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    z-index: 9999999;
}
div#overlay a {
    text-decoration: none;
}


canvas {
    border:1px solid green;
    display:block;
    margin:-2000px;
}

div#jungle {
    width:100%; 
    height: 100%; 
    background-image: url('../img/background.jpeg'); 
    display: block; 
    position: fixed; 
    z-index: 29; 
}

div.modal-content {
    background-color: lightgreen;
}

.form-control {
    background-color: green;
    color:white;
}